<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinancialUserMapper">
	<resultMap id="BaseResultMap" type="com.qtjf.common.bean.QtFinancialUser">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="userCode" property="usercode" jdbcType="VARCHAR" />
		<result column="userName" property="username" jdbcType="VARCHAR" />
		<result column="userMobile" property="usermobile" jdbcType="VARCHAR" />
		<result column="userEmail" property="useremail" jdbcType="VARCHAR" />
		<result column="userStatus" property="userstatus" jdbcType="VARCHAR" />
		<result column="userLevel" property="userlevel" jdbcType="VARCHAR" />
		<result column="tureName" property="turename" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="userCID" property="usercid" jdbcType="VARCHAR" />
		<result column="isCIDValid" property="iscidvalid" jdbcType="VARCHAR" />
		<result column="isLockedOut" property="islockedout" jdbcType="VARCHAR" />
		<result column="avatarUrl" property="avatarurl" jdbcType="VARCHAR" />
		<result column="inviteUser" property="inviteuser" jdbcType="VARCHAR" />
		<result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		qt_financial_user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.qtjf.common.bean.QtFinancialUser">
		insert into qt_financial_user
		(id,
		userMobile, userStatus,
		userLevel,isLockedOut,
		inviteUser, createdAt
		)
		values
		(#{id,jdbcType=VARCHAR},#{usermobile,jdbcType=VARCHAR},
		#{userstatus,jdbcType=VARCHAR},
		#{userlevel,jdbcType=VARCHAR},
		#{islockedout,jdbcType=VARCHAR},
		#{inviteuser,jdbcType=VARCHAR},
		#{createdat,jdbcType=TIMESTAMP}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.qtjf.common.bean.QtFinancialUser">
		update
		qt_financial_user
		set userCode = #{usercode,jdbcType=VARCHAR},
		userName
		= #{username,jdbcType=VARCHAR},
		userMobile =
		#{usermobile,jdbcType=VARCHAR},
		userEmail =
		#{useremail,jdbcType=VARCHAR},
		userStatus =
		#{userstatus,jdbcType=VARCHAR},
		userLevel =
		#{userlevel,jdbcType=VARCHAR},
		tureName = #{turename,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		userCID =
		#{usercid,jdbcType=VARCHAR},
		isCIDValid =
		#{iscidvalid,jdbcType=VARCHAR},
		isLockedOut =
		#{islockedout,jdbcType=VARCHAR},
		avatarUrl =
		#{avatarurl,jdbcType=VARCHAR},
		inviteUser =
		#{inviteuser,jdbcType=VARCHAR},
		createdAt =
		#{createdat,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select id, userCode, userName, userMobile, userEmail,
		userStatus, userLevel,
		tureName,
		password, userCID, isCIDValid,
		isLockedOut, avatarUrl, inviteUser, createdAt
		from qt_financial_user
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByPrimaryMobile" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select id, userCode, userName, userMobile, userEmail,
		userStatus, userLevel,
		tureName,
		password, userCID, isCIDValid,
		isLockedOut, avatarUrl, inviteUser, createdAt
		from qt_financial_user
		where userMobile = #{value}
	</select>

	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="com.qtjf.common.bean.QtFinancialUser">
		select id, userCode, userName, userMobile, userEmail, userStatus,
		userLevel, tureName,
		password, userCID, isCIDValid, isLockedOut,
		avatarUrl, inviteUser, createdAt
		from qt_financial_user

		<where>
			<if test="usermobile!=null and usermobile!=''">
				and userMobile = #{usermobile}
			</if>

		</where>
	</select>
	
	
	<update id="sumbitVerifyCrad" parameterType="com.qtjf.common.bean.QtFinancialUser">
		update
		qt_financial_user set
		tureName = #{turename,jdbcType=VARCHAR},
		userCID =#{usercid,jdbcType=VARCHAR},
		isCIDValid =#{iscidvalid,jdbcType=VARCHAR}	
		where userMobile = #{usermobile,jdbcType=VARCHAR}
	</update>


    <insert id="saveSmsCode" parameterType="com.qtjf.common.bean.QtFinancialUserSmsCode">
        insert into qt_financial_user_sms
        (mobile,
        smsCode, createdAt,
        passAt,type
        )
        values
        (#{mobile},
        #{smsCode},
        #{createdAt},
        #{passAt},
        #{type}
        )
    </insert>


    <select id="selectSmsCode" resultType="com.qtjf.common.bean.QtFinancialUserSmsCode"
            parameterType="com.qtjf.common.bean.QtFinancialUserSmsCode ">
            select * from qt_financial_user_sms us
            where us.mobile=#{mobile}
            and us.smsCode=#{smsCode}
            and us.type=#{type}
            order by us.createdAt DESC
            limit 0,1

    </select>


</mapper>