<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinancialAuthenticationMapper">
	
	<delete id="deleteByPrimaryKey" parameterType="String">
		delete from
		qt_financial_authentication
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.qtjf.common.bean.QtFinancialAuthentication">
		insert into qt_financial_authentication (id, userId, authType,
		authStatus, authenticationId, createdAt,
		updatedAt
		)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{authType,jdbcType=VARCHAR},
		#{authStatus,jdbcType=VARCHAR},
		#{authenticationId,jdbcType=INTEGER},
		#{createdAt,jdbcType=TIMESTAMP},
	    #{updatedAt,jdbcType=TIMESTAMP}
		
		)
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.qtjf.common.bean.QtFinancialAuthentication">
		update
		qt_financial_authentication
		set authStatus = #{authStatus,jdbcType=VARCHAR}
		where userId = #{userId,jdbcType=INTEGER}
		and authType = #{authType,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPrimaryKey" resultType="com.qtjf.common.bean.QtFinancialAuthentication"
		parameterType="String">
		select id, userId, authType, authStatus,
		authenticationId, createdAt,updatedAt
		from
		qt_financial_authentication
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectAll" resultType="com.qtjf.common.bean.QtFinancialAuthentication" parameterType="com.qtjf.common.bean.QtFinancialAuthentication">
		select id, userId, authType,
		authStatus, authenticationId, createdAt,updatedAt
		from qt_financial_authentication
			<where>
			<if test="userId!=null and userId!=''">
				and userId = #{userId}
			</if>
			<if test="authType!=null and authType!=''">
				and authType = #{authType}
			</if>
		</where>
	</select>
	

	<select id="saveTaobaoQrMsg" parameterType="Map">
		insert into
		qt_financial_taobao_qr (userId,qrMsg,createdAt) values
		(#{userId},#{msg},#{createdAt})
	</select>

	<delete id="deleteTaobaoQrMsgByUserId" parameterType="String">
		delete from
		qt_financial_taobao_qr
		where userId = #{value}
	</delete>

	<select id="getQRMsg" resultType="com.qtjf.common.bean.QtFinancialAuthentication" parameterType="String">
		select *
		from
		qt_financial_taobao_qr
		where userId = #{value}
	</select>


</mapper>