<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinancialBorrowMoneyMapper">
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		qt_financial_borrow_money
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.qtjf.common.bean.QtFinancialBorrowMoney">
		insert into
		qt_financial_borrow_money (id, productId, couponId,
		userId, amount,
		daynum,
		status, repaymentDate, repaymentAmount,
		arriveAmount, auditCost,
		factorageCost,
		rate, manageCost, reductionExemption,
		applyAt, createdAt)
		values (#{id}, #{productId,jdbcType=VARCHAR},
		#{couponId,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR},
		#{amount,jdbcType=DECIMAL}, #{daynum,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{repaymentDate,jdbcType=TIMESTAMP},
		#{repaymentAmount,jdbcType=DECIMAL},
		#{arriveAmount,jdbcType=DECIMAL},
		#{auditCost,jdbcType=DECIMAL}, #{factorageCost,jdbcType=DECIMAL},
		#{rate,jdbcType=INTEGER}, #{manageCost,jdbcType=DECIMAL},
		#{reductionExemption,jdbcType=DECIMAL},
		#{applyAt,jdbcType=TIMESTAMP},
		#{createdAt,jdbcType=TIMESTAMP})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.qtjf.common.bean.QtFinancialBorrowMoney">
		update
		qt_financial_borrow_money
		set productId =
		#{productid,jdbcType=VARCHAR},
		couponId = #{couponid,jdbcType=VARCHAR},
		userId = #{userid,jdbcType=VARCHAR},
		amount =
		#{amount,jdbcType=DECIMAL},
		daynum = #{daynum,jdbcType=VARCHAR},
		status
		= #{status,jdbcType=VARCHAR},
		repaymentDate =
		#{repaymentdate,jdbcType=TIMESTAMP},
		repaymentAmount =
		#{repaymentamount,jdbcType=DECIMAL},
		arriveAmount =
		#{arriveamount,jdbcType=DECIMAL},
		auditCost =
		#{auditcost,jdbcType=DECIMAL},
		factorageCost =
		#{factoragecost,jdbcType=DECIMAL},
		rate = #{rate,jdbcType=INTEGER},
		manageCost = #{managecost,jdbcType=DECIMAL},
		reductionExemption =
		#{reductionexemption,jdbcType=DECIMAL},
		applyAt =
		#{applyat,jdbcType=TIMESTAMP},
		createdAt =
		#{createdat,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByPrimaryKey" resultType="com.qtjf.common.bean.QtFinancialBorrowMoney"
		parameterType="String">
		select id, productId, couponId, userId, amount, daynum,
		status,
		repaymentDate, repaymentAmount,
		arriveAmount, auditCost,
		factorageCost, rate, manageCost, reductionExemption,
		applyAt,
		createdAt
		from qt_financial_borrow_money
		where id = #{id}
	</select>

	<select id="selectAll" parameterType="com.qtjf.common.bean.QtFinancialBorrowMoney"
		resultType="com.qtjf.common.bean.QtFinancialBorrowMoney">
		select id, productId, couponId, userId, amount, daynum, status,
		repaymentDate, repaymentAmount,
		arriveAmount, auditCost, factorageCost,
		rate, manageCost, reductionExemption,
		applyAt,
		createdAt
		from
		qt_financial_borrow_money
		<where>
			<if test="productId!=null and productId!=''">
				productId = #{productId}
			</if>
			<if test="userId!=null and userId!=''">
				userId = #{userId}
			</if>
		</where>
	</select>
</mapper>