<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinacialAuthenticationChsiMapper">
	<insert id="insert"
		parameterType="com.qtjf.common.bean.QtFinacialAuthenticationChsi">
		insert into qt_finacial_authentication_Chsi (id, chsiCode,chsiPass)
		values (#{id,jdbcType=VARCHAR}, #{chsiCode,jdbcType=VARCHAR}, #{chsiPass,jdbcType=VARCHAR})
	</insert>
	
	
	<update id="update" parameterType="com.qtjf.common.bean.QtFinacialAuthenticationChsi">
		update
		qt_finacial_authentication_Chsi
		set
		chsiPass = #{chsiPass,jdbcType=VARCHAR},
		chsiCode = #{chsiCode,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>