<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.mapper.QtFinancialBorrowMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.qtjf.appserver.entity.QtFinancialBorrowMoney" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="VARCHAR" />
    <result column="couponId" property="couponid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="daynum" property="daynum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="repaymentDate" property="repaymentdate" jdbcType="TIMESTAMP" />
    <result column="repaymentAmount" property="repaymentamount" jdbcType="DECIMAL" />
    <result column="arriveAmount" property="arriveamount" jdbcType="DECIMAL" />
    <result column="auditCost" property="auditcost" jdbcType="DECIMAL" />
    <result column="factorageCost" property="factoragecost" jdbcType="DECIMAL" />
    <result column="rate" property="rate" jdbcType="INTEGER" />
    <result column="manageCost" property="managecost" jdbcType="DECIMAL" />
    <result column="reductionExemption" property="reductionexemption" jdbcType="DECIMAL" />
    <result column="applyAt" property="applyat" jdbcType="TIMESTAMP" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qt_financial_borrow_money
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qtjf.appserver.entity.QtFinancialBorrowMoney" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qt_financial_borrow_money (id, productId, couponId, 
      userId, amount, daynum, 
      status, repaymentDate, repaymentAmount, 
      arriveAmount, auditCost, factorageCost, 
      rate, manageCost, reductionExemption, 
      applyAt, createdAt)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=VARCHAR}, #{couponid,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{daynum,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{repaymentdate,jdbcType=TIMESTAMP}, #{repaymentamount,jdbcType=DECIMAL}, 
      #{arriveamount,jdbcType=DECIMAL}, #{auditcost,jdbcType=DECIMAL}, #{factoragecost,jdbcType=DECIMAL}, 
      #{rate,jdbcType=INTEGER}, #{managecost,jdbcType=DECIMAL}, #{reductionexemption,jdbcType=DECIMAL}, 
      #{applyat,jdbcType=TIMESTAMP}, #{createdat,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qtjf.appserver.entity.QtFinancialBorrowMoney" >
    update qt_financial_borrow_money
    set productId = #{productid,jdbcType=VARCHAR},
      couponId = #{couponid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      daynum = #{daynum,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      repaymentDate = #{repaymentdate,jdbcType=TIMESTAMP},
      repaymentAmount = #{repaymentamount,jdbcType=DECIMAL},
      arriveAmount = #{arriveamount,jdbcType=DECIMAL},
      auditCost = #{auditcost,jdbcType=DECIMAL},
      factorageCost = #{factoragecost,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=INTEGER},
      manageCost = #{managecost,jdbcType=DECIMAL},
      reductionExemption = #{reductionexemption,jdbcType=DECIMAL},
      applyAt = #{applyat,jdbcType=TIMESTAMP},
      createdAt = #{createdat,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, productId, couponId, userId, amount, daynum, status, repaymentDate, repaymentAmount, 
    arriveAmount, auditCost, factorageCost, rate, manageCost, reductionExemption, applyAt, 
    createdAt
    from qt_financial_borrow_money
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, productId, couponId, userId, amount, daynum, status, repaymentDate, repaymentAmount, 
    arriveAmount, auditCost, factorageCost, rate, manageCost, reductionExemption, applyAt, 
    createdAt
    from qt_financial_borrow_money
  </select>
</mapper>