<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinacialAuthenticationBankMapper">
	<insert id="insert" parameterType="com.qtjf.common.bean.QtFinacialAuthenticationBank">
		insert into
		qt_finacial_authentication_bank (id,bankCardNo, userName,
		identityNo,mobile,bankName,region)
		values
		(#{id,jdbcType=VARCHAR}, #{bankCardNo,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{identityNo,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{bankName,jdbcType=VARCHAR},
		#{region,jdbcType=VARCHAR})
		
	</insert>
	
	<update id="update" parameterType="com.qtjf.common.bean.QtFinacialAuthenticationBank">
		update
		qt_finacial_authentication_base
		set
		bankCardNo =#{bankCardNo,jdbcType=VARCHAR},
		userName =#{userName,jdbcType=VARCHAR},
		identityNo =#{identityNo,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	

</mapper>