<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinacialProductMapper" >

  <select id="selectByPrimaryKey" resultType="com.qtjf.common.bean.QtFinacialProduct" parameterType="java.lang.String" >
    select id, productName, productCode, amount, factorageCost,auditCost,manageCost, rate, dayNum, userLevel, 
    isActivated, createdAt, createdBy, updatedAt, updateBy
    from qt_finacial_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultType="com.qtjf.common.bean.QtFinacialProduct" >
    select id, productName, productCode, amount, factorageCost,auditCost,manageCost, rate, dayNum, userLevel, 
    isActivated, createdAt, createdBy, updatedAt, updateBy
    from qt_finacial_product
  </select>
</mapper>