<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.appserver.dao.QtFinacialAuthenticationBaseMapper">
	<insert id="insert" parameterType="com.qtjf.common.bean.QtFinacialAuthenticationBase">
		insert into
		qt_finacial_authentication_base (id, education,
		marriage,
		children, province_id, city_id,
		domain, qq, email,liveTime)
		values
		(#{id,jdbcType=INTEGER}, #{education,jdbcType=VARCHAR},
		#{marriage,jdbcType=VARCHAR},
		#{children,jdbcType=VARCHAR},
		#{provinceId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR},
		#{domain,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{liveTime,jdbcType=VARCHAR})
	</insert>
	<select id="selectAll" resultType="com.qtjf.common.bean.QtFinacialAuthenticationBase">
		select id, education,
		marriage, children, province_id, city_id, domain,liveTime
		qq,
		email
		from
		qt_finacial_authentication_base
	</select>
	<select id="selectById" parameterType="java.lang.String"
		resultType="com.qtjf.common.bean.QtFinacialAuthenticationBase">
		select id, education, marriage, children,
		province_id,liveTime
		city_id, domain,
		qq,
		email
		from
		qt_finacial_authentication_base where
		id = #{value}
	</select>


	<update id="update" parameterType="com.qtjf.common.bean.QtFinacialAuthenticationBase">
		update
		qt_finacial_authentication_base
		set
		education =#{education,jdbcType=VARCHAR},
		marriage =#{marriage,jdbcType=VARCHAR},
		children =#{children,jdbcType=VARCHAR},
		province_id = #{provinceId,jdbcType=VARCHAR},
		city_id =#{cityId,jdbcType=VARCHAR},
		domain = #{domain,jdbcType=VARCHAR},
		qq =#{qq,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		liveTime =#{liveTime}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>