<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.web.mapper.QtFinancialCouponMapper" >
  <resultMap id="BaseResultMap" type="com.qtjf.common.bean.QtFinancialCoupon" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="limitAmount" property="limitAmount" jdbcType="DECIMAL" />
    <result column="limitUserLevel" property="limituserLevel" jdbcType="VARCHAR" />
    <result column="limitProduct" property="limitProduct" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
    <result column="updatedAt" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qt_financial_coupon
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qtjf.common.bean.QtFinancialCoupon" >
    insert into qt_financial_coupon (id, code, amount, 
      limitAmount, limitUserLevel, limitProduct, 
      comment, createdAt, createdBy, 
      updatedAt, updateBy)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{limitAmount,jdbcType=DECIMAL}, #{limituserLevel,jdbcType=VARCHAR}, #{limitProduct,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qtjf.common.bean.QtFinancialCoupon" >
    update qt_financial_coupon
    set code = #{code,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      limitAmount = #{limitAmount,jdbcType=DECIMAL},
      limitUserLevel = #{limituserLevel,jdbcType=VARCHAR},
      limitProduct = #{limitProduct,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      createdAt = #{createdAt,jdbcType=TIMESTAMP},
      createdBy = #{createdBy,jdbcType=VARCHAR},
      updatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, code, amount, limitAmount, limitUserLevel, limitProduct, comment, createdAt, 
    createdBy, updatedAt, updateBy
    from qt_financial_coupon
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, code, amount, limitAmount, limitUserLevel, limitProduct, comment, createdAt, 
    createdBy, updatedAt, updateBy
    from qt_financial_coupon
  </select>
</mapper>