<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qtjf.web.mapper.QtFinancialBorrowMoneyFlowMapper" >
  <resultMap id="BaseResultMap" type="com.qtjf.common.bean.QtFinancialBorrowMoneyFlow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrowId" property="borrowId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="updatedAt" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from qt_financial_borrow_money_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qtjf.common.bean.QtFinancialBorrowMoneyFlow" >
    insert into qt_financial_borrow_money_flow (id, borrowId, status, 
      comment, updatedAt)
    values (#{id,jdbcType=VARCHAR}, #{borrowId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qtjf.common.bean.QtFinancialBorrowMoneyFlow" >
    update qt_financial_borrow_money_flow
    set borrowId = #{borrowId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      updatedAt = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, borrowId, status, comment, updatedAt
    from qt_financial_borrow_money_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, borrowId, status, comment, updatedAt
    from qt_financial_borrow_money_flow
    <where>
    
    	
    
    
    </where>
    
    
  </select>
</mapper>